<html>
    <head>
        <meta charset="UTF-8">
        <title>View Order</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <h1>{{ order.customerName }} Recent Order</h1>
                    </div>
                </div>
             </div>
        </header>
        <main class="container mt-4">
            <section id="Orders" class="mt-4">
                {% if order %}
                <h2>Order ID</h2>
                {{ order.customerID }}
                <h2>Customer</h2>
                {{ order.customerName }}
                <h2>Date Order Placed</h2>
                {{ order.orderDate | date("D MMM YYYY") }}
                {% else %}
                There are no orders to display
                {% endif %}
            </section>
        </main>  
    </body>     
</html>